@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  background: url(img/bg-pattern-top-desktop.svg) no-repeat left top, url(img/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
  background-size: 40%, 80%;
  height: 100vh;
  padding: 10rem;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}

header {
  width: 40%;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 3rem;
  margin-bottom: 0.625rem;
}

header p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: hsl(303, 10%, 53%);
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  width: 50%;
}

aside > .review-wrapper:nth-child(1) {
  align-self: flex-start;
}

aside > .review-wrapper:nth-child(2) {
  align-self: center;
}

aside > .review-wrapper:nth-child(3) {
  align-self: flex-end;
}

.review-wrapper {
  padding: 18px 60px 18px 30px;
  background-color: hsl(300, 24%, 96%);
  margin: 6px 0;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

aside img {
  margin-right: 3px;
  height: 16px;
  width: 17px;
}

.image-wrapper img:nth-child(5) {
  margin-right: 1.25rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 260px;
}

article {
  height: 230px;
  width: 350px;
  font-size: 0.8rem;
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1.75rem;
}

.section > article:nth-child(1) {
  align-self: flex-start;
}

.section > article:nth-child(2) {
  align-self: center;
}

.section > article:nth-child(3) {
  align-self: flex-end;
}

.user-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-header img {
  width: 2.75rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.user-details h4 {
  margin-bottom: 0.3rem;
  color: hsl(300, 24%, 96%);
  font-weight: 500;
}

.user-details p:last-child {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

q {
  font-weight: 400;
}

.review {
  font-size: 0.825rem;
  line-height: 1.3rem;
  color: hsl(300, 24%, 96%);
}

@media screen and (max-width: 1375px) {
  body {
    padding: 6rem 4rem;
    font-size: 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  .header-wrapper {
    margin-bottom: 2rem;
  }

  .review-wrapper {
    padding: 18px 40px 18px 20px;
  }

  article {
    margin-bottom: 10px;
    padding: 1rem;
    height: 200px;
    width: 280px;
    font-size: 0.7rem;
  }

  .review {
    font-size: 0.68rem;
  }
}

@media screen and (max-width: 967px) {
  .section {
    height: auto;
  }
}

@media screen and (max-width: 690px) {
  header {
    margin-bottom: 10px;
  }

  .header-wrapper {
    display: block;
  }

  .image-wrapper {
    margin-bottom: 10px;
  }

  .aside {
    margin-bottom: 10px;
  }

  header {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .review-wrapper {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
  }

  .review-wrapper p {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  body {
    padding: 20px;
    margin: 0 auto;
    background: url(img/bg-pattern-top-mobile.svg) no-repeat left top, url(img/bg-pattern-bottom-mobile.svg) no-repeat right bottom;
    background-size: 90%, 90%;
  }

  header {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  body {
    padding: 10px;
    margin: 0 auto;
  }

  .header-wrapper {
    margin-bottom: 10px;
  }

  .aside {
    display: block;
  }
}